@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url(fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.cont {
    width: 100%;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
}

.img {
    max-width: 100%;
    height: 500px;
    margin-top: 50px;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    /* margin-left: 350px; */
    align-items: center;
    border-radius: 20px;
}

.h1 {
    font-family: 'Playpen Sans', cursive;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    width: 80%;
    border-radius: 20px;
}

.form-box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.form-box3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    width: 80%;
    border-radius: 20px;
}

.form-box4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.form-box5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: 20px;
    font-family: 'Playpen Sans', cursive;
}

.zam {
    width: 24px;
    height: 24px
}

.zamok {
    width: 100px;
    height: 50px;
}

.name {
    font-family: 'Playpen Sans', cursive;
    width: 90%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
}

.name::placeholder {
    color: gold;
    text-shadow: 2px 0 2px #000;
}

.email {
    font-family: 'Playpen Sans', cursive;
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
}

.email::placeholder {
    color: gold;
    text-shadow: 2px 0 2px #000;
}

.email.new {
    box-shadow: 0 0 10px green;
    transition: 0.4s;
}

.email.delate {
    box-shadow: 0 0 10px red;
    transition: 0.4s;
}

.password {
    font-family: 'Playpen Sans', cursive;
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
}

.password::placeholder {
    color: gold;
    text-shadow: 2px 0 2px #000;
}

.password.new {
    box-shadow: 0 0 10px green;
    transition: 0.4s;
}

.password.delate {
    box-shadow: 0 0 10px red;
    transition: 0.4s;
}

.input-checkbox {
    width: 20px;
    height: 20px;
}

.button {
    height: 20px;
    color: gold;
    background: #000;
    cursor: pointer;
}

.phone {
    font-family: 'Playpen Sans', cursive;
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
}

.phone::placeholder {
    color: gold;
    text-shadow: 2px 0 2px #000;
}

.form-box1-modal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 30px;
    background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
    opacity: 0;
    transition: 0.5s;
    right: -200px;
    border-radius: 20px;
    border: 4px solid gold;
    font-family: 'Playpen Sans', cursive;
}

.form-box1-modal.active {
    opacity: 1;
    right: 20px;
}



.form-box2-modal {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 50px;
    background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
    opacity: 0;
    transition: 0.5s;
    right: -200px;
    border-radius: 20px;
    border: 4px solid gold;
    font-family: 'Playpen Sans', cursive;
}

.form-box2-modal.active {
    opacity: 1;
    right: 20px;
}




.form-box3-modal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 100px;
    background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
    opacity: 0;
    transition: 0.5s;
    right: -200px;
    border-radius: 20px;
    border: 4px solid gold;
    font-family: 'Playpen Sans', cursive;
    padding: 10px;
}

.form-box3-modal.active {
    opacity: 1;
    right: 20px;
}





.form-box4-modal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 70px;
    background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
    opacity: 0;
    transition: 0.5s;
    right: -200px;
    border-radius: 20px;
    border: 4px solid gold;
    font-family: 'Playpen Sans', cursive;
}

.form-box4-modal.active {
    opacity: 1;
    right: 20px;
}



.form-box5-modal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 50px;
    background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
    opacity: 0;
    transition: 0.5s;
    right: -200px;
    border-radius: 20px;
    border: 4px solid gold;
    font-family: 'Playpen Sans', cursive;
}

.form-box5-modal.active {
    opacity: 1;
    right: 20px;
}