@media(max-width: 480px) {

    body {
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #ffffffbe, #000000, #ffffffbe, #000000, #ffffffbe);
        background-size: 200% 200%;
        animation: gradientAnimation 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 100%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        /* flex-wrap: wrap; */
        width: 100%;
        height: 100px;
        background: #ffffff;
        margin: 0 auto;
        border-radius: 20px;
        position: fixed;
        z-index: 1;
        top: 0;

        transform: scale(1);
        opacity: 1;
        transition: 0.7s;
    }

    .header.new {
        transform: scale(1);
        opacity: 1;
        background: #000;
        color: #fff;
    }

    .header-p {
        font-family: 'Permanent Marker', cursive;
        color: gold;
        cursor: pointer;
    }

    .header-img {
        /* width: 60px;
        height: 80px;
        border-radius: 10px 40px 10px 40px;
        margin-right: 400px;
        cursor: pointer; */
        display: none;
    }

    .header-logo {
        background: #000;
        font-family: 'Permanent Marker', cursive;
        margin-right: -40px;
        color: gold;
    }

    .header-name {
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        right: 900px;
    }

    /* .header-text {
        font-family: 'Permanent Marker', cursive;
        position: absolute;
        width: 200px;
        height: 70px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        border-radius: 20px;
        padding: 15px;
        left: -250px;
        top: 100px;
        transition: 0.5s;
    }

    .header-text.active {
        opacity: 1;
        bottom: -50px;
        left: 80px;
    } */

    .block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        margin: 0 auto;
        margin-top: 250px;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        overflow: hidden;
    }

    /* .photo-card {
    position: absolute;
    left: 250px;
    top: 0;
    width: 300px;
    opacity: 30%;
    z-index: 0;
    transform: scale(0);
    transition: 1.5s;
    margin-top: -400px;
}

.photo-card.new {
    margin-top: 0px;
    transform: scale(1);
    opacity: 30%;
} */ 

.input0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 900px;
    height: 500px;
    /* width: 900px;
    height: 400px; */
    margin-top: 120px;
    background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
    border-radius: 20px;
    padding: 20px;
}




}











@media (max-width: 768px){

}











@media (max-width: 1024px){

}











@media (max-width: 1200px){

}











@media all and (min-width: 1201px){

}