    * {
        padding: 0;
        margin: 0;
        border: 0;
        text-decoration: none;
    }

    :focus,
    :active {
        outline: none;
    }

    a:focus,
    a:active {
        outline: none;
    }

    nav,
    footer,
    header,
    aside {
        display: block;
    }

    :root {
        --boss: rgb(160, 160, 160);
        --colors: rgb(210, 198, 198);
    }

    input,
    button,
    textarea {
        font-family: inherit;
    }

    input::-ms-clear {
        display: none;
    }

    button {
        cursor: pointer;
    }

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    ul li {
        list-style: none;
    }

    img {
        vertical-align: top;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: 400;
    }

    html {
        scroll-behavior: smooth;
    }


    body {
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #ffffffbe, #000000, #ffffffbe, #000000, #ffffffbe);
        background-size: 200% 200%;
        animation: gradientAnimation 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 100%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: center;
        /* flex-wrap: wrap; */
        width: 100%;
        height: 100px;
        background: #ffffff;
        margin: 0 auto;
        border-radius: 20px;
        position: fixed;
        z-index: 1;
        top: 0;

        transform: scale(1);
        opacity: 1;
        transition: 0.7s;
    }

    .header.new {
        transform: scale(1);
        opacity: 1;
        background: #000;
        color: #fff;
    }

    .header-p {
        font-family: 'Permanent Marker', cursive;
        padding: 10px;
        color: gold;
        cursor: pointer;
    }

    .header-img {
        width: 60px;
        height: 80px;
        border-radius: 10px 40px 10px 40px;
        margin-right: 400px;
        cursor: pointer;
    }

    .header-logo {
        font-family: 'Permanent Marker', cursive;
        margin-right: 400px;
        color: gold;
    }

    .header-name {
        position: absolute;
        font-family: 'Permanent Marker', cursive;
        right: 900px;
    }

    .header-text {
        font-family: 'Permanent Marker', cursive;
        position: absolute;
        width: 200px;
        height: 70px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        border-radius: 20px;
        padding: 15px;
        left: -250px;
        top: 100px;
        transition: 0.5s;
    }

    .header-text.active {
        opacity: 1;
        bottom: -50px;
        left: 80px;
    }

    .photo-card {
        position: absolute;
        left: 250px;
        top: 0;
        width: 300px;
        opacity: 30%;
        z-index: 0;
        transform: scale(0);
        transition: 1.5s;
        margin-top: -400px;
    }

    .photo-card.new {
        margin-top: 0px;
        transform: scale(1);
        opacity: 30%;
    }

    .block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 500px;
        height: 300px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        margin: 0 auto;
        margin-top: 250px;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        overflow: hidden;
    }


    .block_title {
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;
    }

    .block_text {
        margin: 0 auto;
        font-family: 'Permanent Marker', cursive;
        position: relative;
        z-index: 1;
        bottom: 30px;
    }


    .block_photo {
        width: 60px;
        position: relative;
        margin-left: 50px;
        bottom: 70px;
        border-radius: 5px;
    }

    .card_number {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        position: relative;
        z-index: 1;
        bottom: 50px;
    }

    .card_container {
        display: flex;
        justify-content: space-around;
    }

    .card_cv {
        display: flex;
        font-family: 'Permanent Marker', cursive;
        position: relative;
        z-index: 1;
        bottom: 20px;
    }

    .card_year {
        display: flex;
        font-family: 'Permanent Marker', cursive;
        position: relative;
        z-index: 1;
        bottom: 20px;
    }

    .name___surname {
        display: flex;
        flex-direction: row;
    }

    .name_name {
        font-family: 'Permanent Marker', cursive;
        margin-left: 30px;
    }

    .name_surname {
        font-family: 'Permanent Marker', cursive;
        right: 100px;
    }

    .input0 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 900px;
        max-height: 400px;
        /* width: 900px;
        height: 400px; */
        margin-top: 120px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        border-radius: 20px;
        padding: 20px;
        transform: scale(0);
        opacity: 0;
        transition: 1.5s;
    }

    .input0.new {
        transform: scale(1);
        opacity: 1;
    }

    .label {
        font-family: 'Permanent Marker', cursive;
        color: gold;

    }

    .button {
        width: 100px;
        font-family: 'Permanent Marker', cursive;
    }

    .button-number {
        position: relative;
        border-radius: 20px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        margin-top: 10px;
        box-shadow: 2px 4px 5px #00000097;
        transition: 0.4s;
    }

    .button-number:hover {
        box-shadow: -2px -4px 5px #00000097;
        color: #ffffff;
        z-index: 1;
    }

    .button-number::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0%;
        background-image: radial-gradient(circle, rgb(79, 76, 76), rgb(252, 252, 252));
        border-radius: 20px;
        left: 0;
        bottom: 0;
        transition: 0.4s;
    }

    .button-number:hover::after {
        height: 100%;
        z-index: -1;
    }

    .button-cv {
        position: relative;
        border-radius: 20px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        margin-top: 10px;
        box-shadow: 2px 4px 5px #00000097;
        transition: 0.4s;
    }

    .button-cv:hover {
        box-shadow: -2px -4px 5px #00000097;
        color: #ffffff;
        z-index: 1;
    }

    .button-cv::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0%;
        background-image: radial-gradient(circle, rgb(79, 76, 76), rgb(252, 252, 252));
        border-radius: 20px;
        left: 0;
        top: 0;
        transition: 0.4s;
    }

    .button-cv:hover::after {
        height: 100%;
        z-index: -1;
    }

    .button-year {
        border-radius: 20px;
    }

    .button-name {
        border-radius: 20px;
    }

    .button-surname {
        border-radius: 20px;
    }

    .bt-number {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .bt-cv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .bt-year {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .bt-name {
        display: flex;
        flex-direction: column;
    }

    .bt-surname {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .input-name {
        font-family: 'Permanent Marker', cursive;
        border-radius: 20px;
        height: 25px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        box-shadow: 2px 4px 5px #00000097;
        z-index: 1;
    }

    .input-surname {
        position: relative;
        z-index: 1;
        font-family: 'Permanent Marker', cursive;
        border-radius: 20px;
        height: 25px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        box-shadow: 2px 4px 5px #00000097;
        margin-bottom: 35px;
    }

    .date {
        border-radius: 20px;
        width: 150px;
        height: 30px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        font-family: 'Permanent Marker', cursive;
        position: relative;
        z-index: 1;
    }

    .bt-cv-year {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .forma {
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }

    .forma-label {
        font-family: 'Oswald', sans-serif;
    }

    .text-about {
        font-weight: 900;
        cursor: pointer;
    }

    .chek-modal {
        position: absolute;
        bottom: 100px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        color: #000000;
        font-family: 'Oswald', sans-serif;
        border-radius: 20px;
        padding: 15px;
        opacity: 0;
        user-select: none;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chek-modal.active {
        opacity: 1;
        bottom: -50px;
    }

    .xrest {
        width: 30px;
        height: 30px;
        background-image: radial-gradient(circle, rgb(252, 252, 252), rgb(79, 76, 76));
        box-shadow: 2px 4px 5px #00000097;
        border-radius: 5px;
    }